@import url('https://fonts.googleapis.com/css?family=DM Sans');

h1, h2 {
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 6vw;
    margin: 20px;
}

h2 {
    font-size: 1.5vw;
}

p {
    font-size: 1.3vw;
    width: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'DM Sans';
    letter-spacing: 0.08em;
    color: white;
    text-transform: uppercase;
    padding-left: 2vw;
    padding-right: 2vw;
    box-sizing: border-box;
}

a:link, a:visited {
    color: red;
    text-decoration: underline;
}

.gap {
    gap: 2vw;
    text-align: center;
}

#justify_div {
    text-align: left;
}

/* 100% height */
.div_left, .div_right {
    height: 100%;
}

.div_right .button {
    padding: 0 !important;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.div_left {
    width: 65%;
}

.div_right {
    width: 35%;
}

div {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.div_content {
    height: 70%;
}

.button, .button:hover, .button:active, .button:link, .button:visited {
    height: fit-content;
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 0.15vw white solid !important;
    padding: 1.5vw 2vw;
    width: 28vw;
    text-align: center;
    font-weight: bold;
}

#margin_bottom {
    margin-bottom: 5vw;
}

#right_button {
    justify-content: flex-end !important;
}

.main_div {
    width: 70vw;
    text-align: center;
}

#main_title {
    height: 100%;
    align-items: flex-end;
    flex-direction: row;
}

#main_title .button_div {
    height: 50%;
}

.button_div {
    display: flex;
    height: 25%;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    gap: 1vw;
}